
<style type="text/css">
	.btn-file{
		position: relative;
		overflow: hidden;
	}
	.btn-file input[type=file]{
		position: absolute;
		top: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
		font-size: 999px;
		text-align: right;
		filter: alpha(opacity=0);
		opacity: 0;
		outline: none;
		background: white;
		cursor: inherit;
		display: block;
	}
</style>
<form class="form-horizontal" role="form" enctype="multipart/form-data"
method="POST" action="/contest/vacation-photo/{year}/{month}">
	<div class="form-group">
		<label class="col-md-2 coltrol-label" for="fieldName">Name</label>
		<div class="col-md-4">
			<input class="form-control" type="text" id="fieldName" name="name">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" for="fieldEmail">Email</label>
		<div class="col-md-4">
			<input type="email" class="form-control" required id="fieldName" name="email">
		</div>
	</div>
	<div class="form-group">
		<label class="col-md-2 control-label" for="fieldPhoto">Vacation photo</label>
		<div class="col-md-4">
			<span class="btn btn-default btn-file">
				Upload
				<input type="file" class="form-control" required 
			accept="image/*" id="fieldPhoto" data-url="/upload" name="photo">
			</span>
			<div id="uploads"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-4">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	</div>
</form>

<script src="/vendor/jqfu/js/vendor/jquery.ui.widget.js"/>
<script src="/vendor/jqfu/js/jquery.iframe-transport.js"/>
<script src="/vendor/jqfu/js/jquery.fileupload.js"/>
<script type="text/javascript">
	$(document).ready(function(){
$('#fieldPhoto').fileupload({ dataType: 'json',
done: function(e, data){
$.each(data.result.files, function(index, file){ $('#fileUploads').append($('<div class="upload">' +
 
}); }
}); });

</script>